<!DOCTYPE html>
<html>
<head>
  <title>RecordCollection</title>
  <%= stylesheet_link_tag    "record_collection/application", media: "all" %>
  <%= javascript_include_tag "record_collection/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
