= form_for @<%= singular_table_name %> do |f|
  / Error messages
<% for attribute in attributes -%>
  .form-row
    .form-label= f.label :<%= attribute.name %>
    .form-field= f.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>
  .form-actions= f.submit 'Save'
